.webcam {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn {
  border-radius: 1rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

.btn:hover {
  border-color: blueviolet;
}

canvas {
  border-radius: 0.5rem;
  border: 2px solid blueviolet;
}
